#kweet{
    padding: 1%;
    float: none;
}
#profilepic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
   
}
#picture{
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: center;
    float: left;
    margin-right: 3%;
    margin-left:6%;
    margin-top: 2%;
    margin-bottom: 0%
}
#owner{
    font-weight: bold;
    float: none;
    margin-top: 25px;
    margin-bottom: 30px; 
    margin-left: 2%;  
}
#content{
    float:none;
    font-size: 26px;
    margin-left: 6%;

}
#date{
    margin-left: 6%;
    margin-bottom: 2%;
}
#post{
    resize: none;
    min-width: 100%;
    min-height: 100px;
}
.name{
    text-align: center;
    min-height: 200px;
    border-style: solid;
    padding-top: 60px;
    float: none;
    font-weight: bold;
    margin-bottom: 20px;
}
#kweets{
    border-style: solid;
    padding: 2%;
    max-height: 500px;
    overflow-y: auto;
}
.odd{
    background-color: whitesmoke;
}
.even{
    background-color: white;
}